@font-face {
	font-family:"Korean_Calligraphy";
	src:url("./Korean_Calligraphy.ttf");
}
/* nom{
	display:block;
	text-align:center;
	font-size:40px;
	font-weight:bolder;
}

{
	display:block
	text-align
}
*/

body {
	background-image:url("../Images/logo_kiseijuu.png");
	background-attachment:fixed ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	font-family:"PrincessSofia", cursive;
	text-shadow: 5px 5px 5px #aaa;
}

#int {
	font-weight: bold;
	margin-left: 50%;

}

#blockyaki {
	display: flex;
	flex-directionn: column;
	background-image:url("../Images/Présentation/Yakitoris.png");
	background-repeat: no-repeat;
	background-position: center ;
	background-size: 100% 100%;
	opacity: 0.30;
	flex-wrap: nowrap;
	opacity: 1;
	margin-left: 35%
}

#blockBBQ {
	display: flex;
	flex-directionn: column;
	background-image:url("../Images/Présentation/BBQKoreen.png");
	background-repeat: no-repeat;
	background-position: center ;
	background-size: 100% 100%;
	opacity: 0.30;
	flex-wrap: nowrap;
	opacity: 1;
	margin-left: 35%
}

#blocksashimis {
	display: flex;
	flex-directionn: column;
	background-image:url("../Images/Présentation/Sashimis.png");
	background-repeat: no-repeat;
	background-position: center ;
	background-size: 100% 100%;
	opacity: 0.30;
	flex-wrap: nowrap;
	opacity: 1;
	margin-left: 35%
}

#blocksushis {
	display: flex;
	flex-directionn: column;
	background-image:url("../Images/Présentation/Sushis.png");
	background-repeat: no-repeat;
	background-position: center ;
	background-size: 100% 100%;
	opacity: 0.30;
	flex-wrap: nowrap;
	opacity: 1;
	margin-left: 35%
}

#blockmakis {
	display: flex;
	flex-directionn: column;
	background-image:url("../Images/Présentation/Makis.png");
	background-repeat: no-repeat;
	background-position: center ;
	background-size: 100% 100%;
	opacity: 0.30;
	flex-wrap: nowrap;
	opacity: 1;
	margin-left: 35%
}

#blockplat {
	display: flex;
	flex-directionn: column;
	flex-wrap: nowrap;
	opacity: 1;
	margin-left: 35%
}

img {
	display: inline-block;
	position: relative;
	float: right;
	overflow: hidden;
}

div.plats {
	display: block;
	width: 600px;
	border : 4px solid black;
	background-color : white;
	opacity: 0.70;
}
div.nom {
	font-size: 50px;
	white-space: nowrap;
	font-weight: bold;
	text-align: center;
}

p {
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}